.landing_container{
    background-image:
 url('./Landing.gif');
  background-size: cover; 
  overflow:hidden;
  width: 100vw;
  height: 100vh; 
} 

.landing-logo-img{
  display: flex;
  height: 100px;
  margin-left: 50px;
}

.enter-text{
  display: flex;
  align-items: flex-end;
  margin-left: 120px;
  color: #adfeff;
}

.created-text{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #adfeff;
  margin-top: 0px;
  margin-left: 30%;

}

.button_home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}